<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.android.mangasanctuary" android:versionCode="6"
	android:versionName="1.2">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="@string/APPLICATION_NAME"
		android:theme="@android:style/Theme.NoTitleBar">
		<activity android:name=".LoadActivity" android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SyncActivity" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".SelectUserActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".MainActivity" android:configChanges="keyboardHidden|orientation" />
	</application>
	<uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9" />
</manifest>